body {
    
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}



h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cart {
    display: flex;
    justify-content: space-between;
}

.cart-items {
    width: 70%;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item img {
    width: 60px;
    height: 90px;
    margin-right: 20px;
}

.item-info {
    flex: 1;
}

.price del {
    color: #888;
    font-size: 14px;
    margin-left: 5px;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity button {
    padding: 5px 10px;
    margin: 0 5px;
}

.total-price {
    font-weight: bold;
    color: #f44336;
    margin-left: 20px;
}

.summary {
    width: 28%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.summary h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.promo, .gift {
    margin-bottom: 20px;
}

.promo button, .gift button {
    background-color: #ffcc00;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.promo button:hover, .gift button:hover {
    background-color: #ff1e1e;
}

.total {
    text-align: center;
}

.final-price {
    display: block;
    font-size: 24px;
    color: #f44336;
    margin-bottom: 20px;
}

.checkout {
    background-color: #f44336;
    color: white;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout:hover {
    background-color: #e53935;
}
.item-info h2{
    font-size: 1.5em;
    font-weight: bold;
}